<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<p>
  <strong>Your invites:</strong>
  <% if user_signed_in? %>
    <% current_user.invitations.each do |invite|%>
      <tr>
        <%= invite.email %>
        <%= link_to "Accept", groups_invite_accept_path(:invite_id => invite.id), method: :post %>
      </tr>
    <% end %>
  <% end %>
</p>
