<p>
  <%= month_calendar events: @group.unavailabilities.each do |date, meetings| %>
  <%= date.day %><br><br>
  <% arr = []%>
  <% meetings.each_with_index do |meeting, i| %>
      <%arr << meeting.name %>
      <% if meeting.start_time.day == date.day && current_user.id == meeting.user_id %>
      <%= link_to 'Make available', meeting, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br>
    <% end %>
  <% end %>
  <%= arr.to_sentence %>
  <% if arr.size > 1 %>
    are unavailable
  <% elsif arr.size == 1%>
    is unavailable
  <% end %>
<% end %>
</p>
