<div id="scrollable"
<% @group.comments.reverse.each do |comment| %>
  <p>
    <strong><%= "#{User.find_by_id(comment.commenter).name.capitalize}: "  %></strong>
    <%= comment.body %>
  </p>
<% end %>
</div>
