<div style="margin-left:1em;padding-top:1em;">
  <div class="container">
    <div class="row">
      <h3>My Groups</h3>
      <div class="column">
        <table class="table">
          <tbody>
            <% @groups.each do |group| %>
              <tr>
                <%= render group %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
