/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#scrollable {
  height: 220px;
  overflow: scroll;
  border: 1px solid #2c528e;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.app {
  display: flex;
}

.app__column {
  flex: 1;
  padding-top: 3em;
  padding-left: 2em;
}
.app__column1 {
  flex: 2;
}

.simple-calendar {
  padding-right: 1em;
  padding-left: 1em;
  width: 100%;
}

table, th, td {
    border: 1px solid #2c528e;
    border-collapse: collapse;
}
 .simple-calendar {
   .day {background-color: #bcffba;
        height: 100px;
        width: 10%;
        border-style: solid;
        vertical-align: text-top;}

   .wday-0 {}
   .wday-1 {}
   .wday-2 {}
   .wday-3 {}
   .wday-4 {}
   .wday-5 {}
   .wday-6 {}

   .today {background-color: #badaff;}
   .past {}
   .future {}

   .start-date {}

   .prev-month {background-color: #dbdbdb;}
   .next-month { background-color: #dbdbdb;}
   .current-month {}

   .has-events {background-color: #ff9393;}
 }
