/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
////////

.tabs {
  position: relative;
  min-height: 200px; /* This part sucks */
  clear: both;
  margin-right: 1em;
  margin-top: 1em;
}
.tab {
  float: left;
}
.tab label {
  font-weight: bold;
  background: #2c528e;
  color: white;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #2c528e;
}
[type=radio]:checked ~ label {
  background: white;
  color: #636363;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

///////
 .group_pic {
   display: block;
   width: 95%;
   margin: auto;
   max-height: 220px;

 }

#scrollable {
  height: 150px;
  overflow: scroll;
  border: 1px solid #2c528e;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 10px;
}

.app {
  display: flex;
  flex-wrap: wrap
}

.app__column {
  flex: 1;
  padding-top: 1em;
  padding-left: 1em;
  min-width: 300px;
  color: #595959;
}

.app__column1 {
  flex: 2;
  margin-right: 2em;
}

.simple-calendar {
  padding-right: 1em;
  padding-left: 1em;
  width: 100%;
}

table, th, td {
    border: 1px solid #2c528e;
    border-collapse: collapse;
}
.calendar-heading {
  font-weight: bold;
  color: white;
  background-color: #2c528e;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-top: 1em;
  margin-bottom: 0px;
  font-size: 1.17em;
}
.calendar-heading a{
  color: white;
  background-color: #2c528e;
}
.simple-calendar th{
  color: white;
  background-color: #2c528e;

}
.simple-calendar td{
  color: #636363;
}
 .simple-calendar {
   .day {background-color: #bcffba;
        height: 100px;
        width: 12%;
        min-width: 12%;
        border-style: solid;
        vertical-align: text-top;}

   .wday-0 {}
   .wday-1 {}
   .wday-2 {}
   .wday-3 {}
   .wday-4 {}
   .wday-5 {}
   .wday-6 {}

   .today {background-color: #badaff;}
   .past {}
   .future {}

   .start-date {}

   .prev-month {background-color: #dbdbdb;}
   .next-month { background-color: #dbdbdb;}
   .current-month {}

   .has-events {background-color: #ff9393;}
 }
